<section class="container centered home-content">
  <center>
    <div class="about">
    {{ if and (isset .Site.Params "avatarurl") (not (isset .Site.Params "gravatar")) }}
        {{ with .Site.Params.avatarURL }}
        <div class="avatar"><img src="{{ . | relURL }}" alt="avatar"></div>
        {{ end }}
    {{ end }}
    <h1 id="home-heading"></h1>
    </div>
  </center>
</section>

<script type="module" src="/js/mersenne-twister.js"></script>
<script type="module" src="/js/avatar-logo.js"></script>
<script type="module" src="/js/home-heading.js"></script>
